In [1]:
import pandas as pd

In [2]:
# Задание 1

ratings = pd.read_csv('C:\\Users\\79111\\Notebooks\\ml-latest\\ratings.csv')
movies = pd.read_csv('C:\\Users\\79111\\Notebooks\\ml-latest\\movies.csv')

ratings[ratings['rating'] == 5.0].merge(movies, on='movieId', how='left').value_counts('title').head(1)

title
Shawshank Redemption, The (1994)    48762
dtype: int64

In [3]:
# Задание 2

power = pd.read_csv('C:\\Users\\79111\\Notebooks\\power.csv')

countries = ['Latvia', 'Lithuania', 'Estonia']
categories = [4, 12, 21]
years = range(2005, 2011)

power_filtered = power[ (power['country'].isin(countries)) & (power['category'].isin(categories)) &
                       (power['year'].isin(years)) & (power['quantity'] > 0) ]

power_filtered['quantity'].sum()

240580.0

In [4]:
# Задание 3

eur_usd, raw_materials, metals, moex, usa, etf, indices, currencies, crypto = pd.read_html('https://fortrader.org/quotes')
metals

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 760      33.00          2.00        NaN
1  Серебро Цена на серебро на бирже  20.26       1.65          8.89        NaN
2         Палладий Цена на Палладий  2 152     120.00          6.00        NaN
3           Платина Цены на платину    932      68.00          8.00        NaN
4           Медь Цена меди на бирже   3.60       0.28          8.46        NaN